.curved-loop-jacket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  height: 100%;
  min-height: 200px;
  overflow: visible;
  display: block;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}